ion-icon[name=camera], ion-icon[name=images] {	
    border: color($colors, ionic, contrast) 2px solid;    
    border-radius: 50%;
    background-color: #2155AA;
    color: color($colors, ionic, contrast);
}
 
ion-icon[name=camera] {
	font-size: 45px;
	width: 65px;
	padding: 10px;
	
	& + p {
		margin-bottom: 40px
	}
}

ion-icon[name=images] {
	font-size: 35px;
	padding: 15px;	
}

p {
	color: color($colors, ionic, contrast);
	font-size: 20px;
	font-weight: 500;
}

.center-vertical {
    top: 50%;
    transform: translateY(-50%);
    position: absolute !important;
    margin:0 auto;
    width:100%;
}