ion-icon[name=camera], ion-icon[name=images] {	
    border: color($colors, ionic, contrast) 2px solid;    
    border-radius: 50%;
    background-color: #2155AA;
    color: color($colors, ionic, contrast);
}
 
ion-icon[name=camera] {
	font-size: 45px;
	width: 65px;
	padding: 10px;
	
	& + p {
		margin-bottom: 40px
	}
}

ion-icon[name=images] {
	font-size: 35px;
	padding: 15px;	
}

ion-loading {
	ion-backdrop {
		opacity: 0.5;
	}

	.loading-wrapper {
		background: none;
	}

	.loading-spinner {
		.spinner-ios line {
			stroke: #FFFFFF;
		}

		ion-spinner {
			width: 35px;
			height: 35px;
		}
	}
}
p {
	color: color($colors, ionic, contrast);
	font-size: 20px;
	font-weight: 500;
}

