.detailed-view {

}

.canvas-container {
	margin: 0 auto;
	canvas {
		border-bottom: #CCCCCC 1px solid;		
	}
}

.nextBtn {
	color: color($colors, ionic, contrast);
}

#filterCanvas {	
	border: #CCCCCC 1px solid;	
}

ion-scroll {
  white-space: nowrap;
  height: 180px;

  filter {
		display: inline-block;
		margin: 0px 5px;

		p {
			font-size: 15px;
			margin-bottom: 7px;
			font-weight: 500;
			text-align: center;
		}
	}
}